<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Welcome, <%= "#{@user.username}" %>!
      </h1>
    </div>
  </div>
</section>

<div class="hero is-light">
    <div class="hero-body mx-6 px-6">

        <div class="container py-6"> 
            <h2 class="title is-4">Your Projects:</h2>
        </div>
        
        <div class="columns is-multiline">
            <% @user.projects.each do |project|%>
                <div class="column is-one-quarter">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                <%= "#{project.name}" %>
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                Category: <%= "#{project.category}"%><br>
                                Knit Time: <%= "#{project.knit_time}"%> hours<br>
                                Status: <%= "#{project.status}" %>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a href="/projects/<%= "#{project.id}" %>" class="card-footer-item">View</a>
                            <a href="/projects/<%= "#{project.id}" %>/edit" class="card-footer-item">Edit</a>
                        </footer>
                    </div>
                </div>
            <% end %>
        </div>

        <br><br>

        <div class="container py-6"> 
            <h2 class="title is-4">Your Yarn:</h2>
        </div>
        
        <div class="columns is-multiline is-mobile">
            <% @user.yarns.each do |yarn|%>
                <div class="column is-one-quarter">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                <%= "#{yarn.brand}" %>: <%= "#{yarn.name}" %>
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                Weight: <%= "#{yarn.weight}"%><br>
                                Color: <%= "#{yarn.color}"%> hours<br>
                                Quantity: <%= "#{yarn.quantity}" %>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a href="/projects/<%= "#{yarn.id}" %>" class="card-footer-item">View</a>
                            <a href="/projects/<%= "#{yarn.id}" %>/edit" class="card-footer-item">Edit</a>
                        </footer>
                    </div>
                </div>
            <% end %>
        </div>

    </div>
</div>


