<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Hey, <%= "#{current_user.username}" %> - here are your projects...
      </h1>
    </div>
  </div>
</section>

<div class="hero is-light">
    <div class="hero-body mx-6 px-6">

        <!--Error-->
    <div class="container">
      <% if flash[:alert] || flash[:message] %>
        <%= flash[:alert] || flash[:message] %>
      <% end %>
    </div><br>

        <div class="columns is-multiline">
            <% current_user.projects.each do |project|%>
                <div class="column is-one-quarter">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                <%= "#{project.name}" %>
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                Category: <%= "#{project.category}"%><br>
                                Knit Time: <%= "#{project.knit_time}"%> hours<br>
                                Status: <%= "#{project.status}" %>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a href="/projects/<%= "#{project.id}" %>" class="card-footer-item">View</a>
                            <a href="/projects/<%= "#{project.id}" %>/edit" class="card-footer-item">Edit</a>
                        </footer>
                    </div>
                </div>
            <% end %>
        </div>

    </div>
</div>


