<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%= "#{@project.name}" %>
      </h1>
    </div>
  </div>
</section>

<div class="hero is-light">
  <div class="hero-body mx-6 px-6">

    <!--Error-->
    <div class="container">
      <% if flash[:alert] || flash[:message] %>
        <%= flash[:alert] || flash[:message] %>
      <% end %>
    </div><br>

    <div class="box p-6">

      <div class="columns"> 
        <div class="bd-focus-itm column has-text-centered">
          <p class="title is-4"><strong>Category:</strong></p> 
          <p class="subtitle is-6"><%= "#{@project.category}" %></p>
        </div>
        <div class="bd-focus-itm column has-text-centered">
          <p class="title is-4"><strong>Knit Time:</strong></p> 
          <p class="subtitle is-6"><%= "#{@project.knit_time}" %> Hours</p>
        </div>
        <div class="bd-focus-itm column has-text-centered">
          <p class="title is-4"><strong>Status: </strong></p> 
          <p class="subtitle is-6"><%= "#{@project.status}"%></p>
        </div>
      </div>
    </div>

    <div class="box p-6"> 
        <h2 class="title is-4 has-text-centered">Project Yarn</h2>
    </div>


    <% if @project.yarns  == [] || @project.yarns == nil %> 
      <p class="subtitle">This project currently does not have any associated yarn!<br>
      <a href="/yarns/new">Add yarn to your project here.</a></p>
    <% else %>
    <div class="columns is-multiline">
      <% @project.yarns.each do |yarn|%>
          <div class="column is-one-quarter">
              <div class="card">

                  <header class="card-header">
                    <p class="card-header-title">
                      <%= "#{yarn.brand}" %>: <%= "#{yarn.name}" %>
                    </p>
                  </header>

                  <div class="card-content">
                    <div class="content">
                      Weight: <%= "#{yarn.weight}"%><br>
                      Color: <%= "#{yarn.color}"%><br>
                      Quantity: <%= "#{yarn.quantity}" %>
                    </div>
                  </div>

                  <footer class="card-footer">
                    <a href="/yarns/<%= "#{yarn.id}" %>" class="card-footer-item">View</a>
                    <a href="/yarns/<%= "#{yarn.id}" %>/edit" class="card-footer-item">Edit</a>
                  </footer>

              </div>
          </div>
      <% end %>
    </div>
    <% end %>

    <div class="field is-grouped is-grouped-right my-6">
      <p class="control">
        <a class="button is-medium" href="/projects/<%="#{@project.id}/edit"%>">
        &nbsp Edit &nbsp
        </a>
        <form action="/projects/<%= @project.id %>" method="post">
          <input id="hidden" type="hidden" name="_method" value="delete">
            <input class="button is-medium is-dark" type="submit" value="Delete">
        </form>
      </p>
    </div>

  </div>
</div>

  
  

