<h2><%= "#{@project.name}" %></h2>
<br>

<p>Category: <%= "#{@project.category}" %></p>
<p>Knit Time: <%= "#{@project.knit_time}" %> hours</p>
<p>Status: <%= "#{@project.status}"%></p>

<br><br>

<h3>Project Yarn: </h3>
<br>

  <% if @project.yarns  == [] || @project.yarns == nil %>
    <p>This project currently does not have any associated yarn!<br>
    <a href="/yarns/new">Add yarn to your project here.</a></p>
  <% else %>
    <% @project.yarns.each do |yarn| %>
      <div>
      <p><%= "#{yarn.brand}" %>: <%= "#{yarn.name}" %><br>
      Color: <%= "#{yarn.color}" %><br>
      Weight: <%= "#{yarn.weight}" %><br>
      Quantity: <%= "#{yarn.quantity}" %></p>
      </div>     
    <% end %>
  <% end %>

        <br><br>

<div>

<a href="/projects/<%= "#{@project.id}" %>/edit">Edit Project</a>
<form action="/projects/<%= @project.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="Delete">
  <input type="submit" value="Delete">
</form>

</div>

<br><br>