<h2><%= "#{@project.name}" %></h2>
<br>

<p>Category: <%= "#{@project.category}" %></p>
<p>Knit Time: <%= "#{@project.knit_time}" %> hours</p>

<br><br>

<h2>Required Yarn</h2>

<div>
    <% @yarns.each.with_index do |yarn, index| %>
    
        <% if index == 0 %>
            <p>Name: <%= yarn.name %></p>
            <p>Weight: <%= yarn.weight %></p>
            <p>Color: <%= yarn.color %></p>
            <p>Quantity: <%= yarn.quantity %></p>
        <% end %>
    <% end %>
</div>

<div>
    <% @yarns.each.with_index do |yarn, index| %>
    
        <% if index == 1 %>
            <p>Name: <%= yarn.name %></p>
            <p>Weight: <%= yarn.weight %></p>
            <p>Color: <%= yarn.color %></p>
            <p>Quantity: <%= yarn.quantity %></p>
        <% end %>
    <% end %>
</div>

<div>
    <% @yarns.each.with_index do |yarn, index| %>
    
        <% if index == 2 %>
            <p>Name: <%= yarn.name %></p>
            <p>Weight: <%= yarn.weight %></p>
            <p>Color: <%= yarn.color %></p>
            <p>Quantity: <%= yarn.quantity %></p>
        <% end %>
    <% end %>
</div>
