<h1>Edit your Yarn!</h1>
<br>

<form method="POST" action="/yarns/<%= @yarn.id %>" >

    <input id="hidden" type="hidden" name="_method" value="patch">

    <p><label for="brand">Brand: </label>
    <input type="text" name="yarn[brand]" id="name" value="<%= @yarn.brand %>"></p>

    <p><label for="name">Name: </label>    
    <input type="text" name="yarn[name]" id="name" value="<%= @yarn.name %>"></p>

    <p><label for="color">Color: </label>
    <input type="text" name="yarn[color]" id="color" value="<%= @yarn.color %>"></p>

    <p><label for="weight">Weight: </label>
    <input type="text" name="yarn[weight]" id="weight" value="<%= @yarn.weight %>"></p>

    <p><label for="quantity">Quantity: </label>
    <input type="number" name="yarn[quantity]" id="quantity" value="<%= @yarn.quantity %>"></p>

    <p><input type="submit" value="Update"></p>

</form>