<h2><%= "#{@yarn.brand}" %>: <%= "#{@yarn.name}" %></h2>
<br>

<p>Color: <%= "#{@yarn.color}" %></p>
<p>Weight: <%= "#{@yarn.weight}" %> hours</p>
<p>Quantity: <%= "#{@yarn.quantity}"%></p>

<br><br>


<div>

<a class="button" href="/yarns/<%= "#{@yarn.id}" %>/edit">Edit yarn</a>
<form action="/yarns/<%= @yarn.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="Delete">
  <input type="submit" value="Delete">
</form>

</div>

<br><br>